.App {
  text-align: center;
}

#box{
  width: 38vw;
  height: 83vh;
  border: 1px solid black;
  margin-left: 400px;
  margin-top: 30px;
  background-image: linear-gradient(hsl(313, 93%, 72%), hsl(177, 69%, 73%));
}
#signup{
margin-left: 20px;
width: 10vw;
height: 6vh;
margin-top: 10px;
}
#dashboard{
  width: 20vw;
  height: 6vh;
  margin-top: 20px;
}
#dashboardbtn{
  width: 10vw;
height: 6vh;
margin-top: 5vh;
border-radius: 5px;
background-color: aqua;
}
#signupbtn{
  width: 10vw;
height: 6vh;
margin-top: 5vh;
border-radius: 5px;
background-color: rgb(235, 47, 191);
color: white;
}

#username{
  width: 20vw;
  height: 6vh;
}
#email{
  width: 20vw;
  height: 6vh;
}
#password{
  width: 20vw;
  height: 6vh;
}
#submit{
  width: 8vw;
  height: 6vh;
  border: 1px solid black;
  margin-top: 5vh;
  border-radius: 5px;
  background-color: rgb(67, 58, 194);
  color: white;
}
#technologies{
  width: 10vw;
  height: 6vh;
  margin-top: 20px;
}
#lname{
  font-size: 18px;
}
#lemail{
  font-size: 18px;
  margin-left: 45px;
}
#lpassword{
  font-size: 18px;
}
#labletechnologies{
font-size: 18px;
margin-left: -170px;

}
#labelconfirm{
  font-size: 18px;
margin-left: 10px;
}
#confirmpassword{
  width: 20vw;
  height: 6vh;
  margin-top: -10px;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
#welcome {
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


